.button {
    background: transparent;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    font-family: $fm-secondary;
    font-size: 1.125rem;
    padding: .625rem 1.625rem;
    outline-color: transparent;

    &--primary {
        background: var(--color-secondary);
    }

    &--secondary {
        background: var(--color-accent);
    }

    &--primary,
    &--secondary {
        color: var(--color-primary);
        font-weight: 300;
        line-height: 1.625rem;
    }
}