.socials {
    background: var(--color-quaternary);

    &__container {
        align-items: center;
        display: flex;
        height: 54px;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1700px;
        padding: .473rem 0;
        width: 100%;
    }

    &__title {
        color: var(--color-secondary-accent);
        font-family: $fm-secondary;
        font-size: 1.125rem;

        &-container {
            align-items: center;
            display: flex;
            gap: .5rem;
        }
    }

    &__icon {
        font-size: .5rem;
        transition: $primary-timing transform $primary-animation-type;
    }

    &__list {
        align-items: center;
        display: flex;
        gap: 1.5rem;
        list-style: none;
    }

    &__link {
        display: block;
        height: 2.125rem;
        position: relative;
        transition: $secondary-timing transform $primary-animation-type;

        &:before {
            border-radius: 50%;
            content: "";
            height: 2.5rem;
            left: 50%;
            top: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            transition: $primary-timing background $primary-animation-type;
            width: 2.5rem;
            z-index: 1;
        }

        &:hover:before {
            background: rgba(16, 24, 41, .1);
        }

        &:hover {
            transform: scale(1.1);
        }

        &--instagram {
            height: 1.4rem;
        }

        &--pinterest,
        &--spotify {
            height: 1.5rem;
        }

        &--youtube {
            height: 1.8rem;
        }
    }

    &__img {
        height: inherit;
        position: relative;
        z-index: 2;
    }

    &:hover .socials__icon {
        transform: translateX(.25rem);
    }
}