@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap");
@import url("https://fonts.cdnfonts.com/css/regatto");
@import url("https://fonts.cdnfonts.com/css/signerica-fat");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
:root {
  --color-primary: #fff;
  --color-secondary: #101829;
  --color-tertiary: #bebebe;
  --color-quaternary: #efefef;
  --color-accent: #525b41;
  --color-secondary-accent: #454545;
}

.fade-enter-active {
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}
.fade-enter-from {
  opacity: 0;
  transform: translate(0, -0.5rem);
}
.fade-enter-to {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-leave-active {
  transition: opacity 1.5s ease-in-out;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background: var(--color-primary);
  font-family: "Libre Bodoni", serif;
}

.main,
.nav {
  width: 100%;
}

.button {
  background: transparent;
  border: 2px solid var(--color-secondary);
  border-radius: 2.5rem;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.75rem 2.5rem;
  outline: none;
}

.socials {
  background: var(--color-quaternary);
}
.socials__container {
  align-items: center;
  display: flex;
  height: 54px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1700px;
  padding: 0.473rem 0;
  width: 100%;
}
.socials__title {
  color: var(--color-secondary-accent);
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
}
.socials__title-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.socials__icon {
  font-size: 0.5rem;
  transition: 1.5s transform ease-in-out;
}
.socials__list {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.socials__link {
  display: block;
  height: 2.125rem;
  position: relative;
  transition: 1.2s transform ease-in-out;
}
.socials__link:before {
  border-radius: 50%;
  content: "";
  height: 2.5rem;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1.5s background ease-in-out;
  width: 2.5rem;
  z-index: 1;
}
.socials__link:hover:before {
  background: rgba(16, 24, 41, 0.1);
}
.socials__link:hover {
  transform: scale(1.1);
}
.socials__link--instagram {
  height: 1.4rem;
}
.socials__link--pinterest, .socials__link--spotify {
  height: 1.5rem;
}
.socials__link--youtube {
  height: 1.8rem;
}
.socials__img {
  height: inherit;
  position: relative;
  z-index: 2;
}
.socials:hover .socials__icon {
  transform: translateX(0.25rem);
}

.navbar {
  align-items: center;
  display: flex;
  height: 110px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1700px;
  width: 100%;
}
.navbar__list {
  align-items: center;
  display: flex;
  gap: 2.35rem;
}
.navbar__link {
  color: var(--color-secondary);
  font-family: "Work Sans", sans-serif;
  font-size: 1.375rem;
  font-weight: normal;
  transition: 0.9s text-shadow ease-in-out;
  text-decoration: none;
}
.navbar__link:hover {
  text-shadow: 0 0.025rem var(--color-secondary), 0 -0.025rem var(--color-secondary), 0.05rem 0 var(--color-secondary), -0.05rem 0 var(--color-secondary);
}
.navbar__icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  transform: translate(0, -50%);
  top: 50%;
}
.navbar__button {
  overflow: hidden;
  position: relative;
  transition: 0.9s all ease-in-out;
}
.navbar__button:after {
  background: var(--color-secondary);
  content: "";
  height: 0;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.9s all ease-in-out;
  width: 100%;
  z-index: -1;
}
.navbar__button:hover {
  color: var(--color-primary);
}
.navbar__button:hover:after {
  height: 280%;
  opacity: 1;
}
.navbar__input {
  border-radius: 2.5rem;
  border-width: 0;
  height: 0;
  transition: 0.9s width ease-in-out;
  width: 0;
}
.navbar__input--show {
  border: 2px solid var(--color-secondary);
  border-width: 100%;
  height: auto;
  padding: 0.25rem 0.5rem;
  width: 5rem;
}
.navbar__input-container {
  min-height: 1rem;
  min-width: 1rem;
  position: relative;
}/*# sourceMappingURL=app.css.map */